<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/night.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <title>Edit Your Routine</title>
</head>
<body>
    <nav id="navigation-panel">
        <%- include('../partials/header.ejs') %> 
    </nav>
    <main>
        <h2>Edit Your Night Routine</h2><br>
        <form action="/night/<%= night._id %>?_method=PUT" method="POST">
            Category: <select name="category" id="create" value="<%= night.category %>">
                <option value="Physical Health">Physical Health</option>
                <option value="Mental Health">Mental Health</option>
                <option value="Entertainment">Entertainmaint</option>
                <option value="Mindfulness">Mindfulness</option>
                <option value="Career">Career</option>
                <option value="Hobby">Hobby</option>
                <option value="Other">Other</option>
            </select><br>
            Routine: <input id="create" type="text" name="routine" value="<%= night.routine %>"/><br>
            Affirmation: <input id="create" type="text" name="affirmation" value="<%= night.affirmation %>"/><br>
            Days Completed: <input id="create" type="number" name="daysCompleted"
            value="<%= parseInt(night.daysCompleted) %>"><br>
            <input id="create-button" type="submit" value="Edit Night Routine" />
        </form>
    </main>
</body>
</html>