<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/night.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <title>Night Routine Description</title>
</head>
<body>
    <nav id="navigation-panel">
        <%- include('../partials/header.ejs') %> 
    </nav>
    <main>
        <h3><%= night.routine %></h3><br>
        <ul id="night-only-list">
            <li>
                Category: <%= night.category %> 
            </li>
            <li>
                Affirmation: <%= night.affirmation %>
            </li>
            <li>
                Days Completed: #<%= night.daysCompleted %>
            </li>
            <br>
            <div id="night-buttons">
                <form action="/night/<%= night._id %>?_method=DELETE" method="POST">
                    <input id="delete-button" type="submit" value="Delete Routine">
                </form>
                <a id="edit-link" href="/night/<%= night._id %>/edit">Edit</a>
            </div>
        </ul>
    </main>
</body>
</html>