<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Morning Routine Description</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <h1><%= morning.routine %></h1>
    <main>
        <ul>
            <li>
                Category: <%= morning.category %> 
            </li>
            <li>
                Affirmation: <%= morning.affirmation %>
            </li>
            <li>
                Days Completed: #<%= morning.daysCompleted %>
            </li>
            <div id="morning-buttons">
                <form action="/morning/<%= morning._id %>?_method=DELETE" method="POST">
                    <input type="submit" value="Delete Routine">
                </form>
                <a href="/morning/<%= morning._id %>/edit">Edit</a>
            </div>
        </ul>
    </main>
</body>
</html>