<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/morning.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <title>Morning Routine Description</title>
</head>
<body>
    <nav id="navigation-panel">
        <%- include('../partials/header.ejs') %> 
    </nav id="navigation-panel">
    <main>
        <h1><%= morning.routine %></h1>
        <br>
        <ul id="morning-only-list">
            <li>
                Category: <%= morning.category %> 
            </li>
            <li>
                Affirmation: <%= morning.affirmation %>
            </li>
            <li>
                Days Completed: #<%= morning.daysCompleted %>
            </li>
            <br>
            <div id="morning-buttons">
                <form action="/morning/<%= morning._id %>?_method=DELETE" method="POST">
                    <input id="delete-button" type="submit" value="Delete Routine">
                </form>
                <a id="edit-link" href="/morning/<%= morning._id %>/edit">Edit Routine</a>
            </div>
        </ul>
    </main>
</body>
</html>