<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">
    <title>Edit To-Do List Item</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <h1>Edit Your To-Do List Item</h1>
    <main>
        <h2>To-Do Information:</h2>
        <form action="/todo/<%= todo._id %>?_method=PUT" method="POST">
            To-Do: <input type="text" name="routine" value="<%= todo.item %>"/><br>
            Priority: <input type="text" name="priority" value="<%= todo.priority %>"/><br>
            Notes:  <input type="text" name="notes" value="<%= todo.notes %>"><br>
            <input type="submit" value="Submit Changes" />
    </main>
</body>
</html>